*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: $default-font-family;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    line-height: 1.6;
}

input,
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    font-family: inherit;
    appearance: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    outline: none;
    border: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#app {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-white;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map {
    height: 60vh;
    z-index: 5;
}